<h1 *ngIf="!IsChange">Creat Product</h1>
<h1 *ngIf="IsChange"mat-dialog-title>Edit Product</h1>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Id</mat-label>
    <input matInput [(ngModel)]="data.position">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Product</mat-label>
    <input matInput [(ngModel)]="data.product">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Value</mat-label>
    <input matInput [(ngModel)]="data.value">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <input matInput [(ngModel)]="data.category">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button  *ngIf="!IsChange"[matDialogClose]="data" cdkFocusInitial>Create</button>
  <button mat-button *ngIf="IsChange"[matDialogClose]="data" cdkFocusInitial>Edit</button>
</mat-dialog-actions>
