<h1 mat-dialog-title>Creat Product</h1>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Id</mat-label>
    <input matInput [(ngModel)]="data.position">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Product</mat-label>
    <input matInput [(ngModel)]="data.product">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Value</mat-label>
    <input matInput [(ngModel)]="data.value">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <input matInput [(ngModel)]="data.category">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [matDialogClose]="data" cdkFocusInitial>Create</button>
</mat-dialog-actions>
